<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <%- include("../partials/navbar") %>

        <div class="container mt-4" style="max-width: 400px;">
            <h2>Login</h2>

            <% if (error) { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
                <% } %>

                    <form action="/auth/login" method="POST">

                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input name="username" type="text" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input name="password" type="password" class="form-control" required>
                        </div>

                        <button class="btn btn-primary w-100">Login</button>
                    </form>
        </div>

</body>

</html>