<footer class="er-footer">

    <div class="er-footer-banner">
        <img src="/img/ella-rises-footer-logo.avif" alt="Ella Rises Footer Logo">
    </div>

    <div class="er-footer-icons">
        <a href="https://www.instagram.com" target="_blank" class="er-icon-circle">
            <i class="bi bi-instagram"></i>
        </a>

        <a href="https://www.facebook.com" target="_blank" class="er-icon-circle">
            <i class="bi bi-facebook"></i>
        </a>

        <div class="er-icon-circle teapot-trigger" data-teapot-trigger title="I'm a teapot!" style="cursor: pointer;" aria-label="Teapot Easter Egg">
            <img src="/img/teapot.svg" alt="Teapot Icon" class="teapot-icon">
        </div>

    </div>

    <p class="er-footer-copy">
        © <%= new Date().getFullYear() %> Ella Rises.
            All Rights Reserved.
    </p>

</footer>
