<nav class="er-navbar">
    <div class="er-navbar-inner">

        <!-- LEFT: logo + nav links (including Donate) -->
        <div class="er-navbar-left">
            <a href="/" class="er-navbar-logo">
                <img src="/img/logo-no-bg.png" alt="Ella Rises Logo">
            </a>

            <ul class="er-navbar-menu">

                <!-- EVENTS -->
                <li class="er-navbar-item dropdown er-has-dropdown">
                    <a class="er-navbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        EVENTS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/events">Events</a></li>
                        <li><a class="dropdown-item" href="/eventOccurrences">Event Occurrences</a></li>
                    </ul>
                </li>

                <!-- REGISTER -->
                <li class="er-navbar-item dropdown er-has-dropdown">
                    <a class="er-navbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        REGISTER
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/registrations">Registrations</a></li>
                        <li><a class="dropdown-item" href="/participants">Participants</a></li>
                        <li><a class="dropdown-item" href="/milestones">Milestones</a></li>
                    </ul>
                </li>

                <!-- SURVEY -->
                <li class="er-navbar-item dropdown er-has-dropdown">
                    <a class="er-navbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        SURVEY
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/surveys">Surveys</a></li>
                        <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                    </ul>
                </li>

                <!-- DONATE as plain link -->
                <li class="er-navbar-item">
                    <a class="er-navbar-link" href="/donations/new">
                        DONATE
                    </a>
                </li>

            </ul>
        </div>

        <!-- RIGHT: login / account -->
        <div class="er-navbar-right">
            <% if (!session || !session.isLoggedIn) { %>
                <a href="/auth/login" class="er-navbar-login">Login</a>
                <% } else { %>
                    <div class="dropdown er-account-dropdown">
                        <a class="er-navbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            <%= session.username %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/profile">My Profile</a></li>

                            <% if (session.access_level==="manager" ) { %>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/users">Manage Users</a></li>
                                <li><a class="dropdown-item" href="/donations">Manage Donations</a></li>
                                <% } %>

                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                        </ul>
                    </div>
                    <% } %>
        </div>

    </div>
</nav>