<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-inner">

            <!-- LEFT: LOGO -->
            <a href="/" class="navbar-logo">
                <img src="/img/logo.png" alt="Ella Rises Logo">
            </a>

            <!-- CENTER NAVIGATION -->
            <ul class="navbar-nav">

                <!-- EVENTS -->
                <li class="nav-item dropdown hover-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        EVENTS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/events">Events</a></li>
                        <li><a class="dropdown-item" href="/eventOccurrences">Event Occurrences</a></li>
                    </ul>
                </li>

                <!-- REGISTER -->
                <li class="nav-item dropdown hover-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        REGISTER
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/registrations">Registrations</a></li>
                        <li><a class="dropdown-item" href="/participants">Participants</a></li>
                        <li><a class="dropdown-item" href="/milestones">Milestones</a></li>
                    </ul>
                </li>

                <!-- SURVEY -->
                <li class="nav-item dropdown hover-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        SURVEY
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/surveys">Surveys</a></li>
                        <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                    </ul>
                </li>

            </ul>

            <!-- RIGHT SIDE -->
            <div class="navbar-right">

                <!-- DONATE BUTTON -->
                <a href="/donations/new" class="navbar-donate-btn">
                    Donate
                </a>

                <!-- LOGIN / PROFILE -->
                <% if (!session || !session.isLoggedIn) { %>
                    <a href="/auth/login" class="navbar-login-link">Login</a>
                    <% } else { %>

                        <div class="dropdown hover-dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <%= session.username %>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end">

                                <li><a class="dropdown-item" href="/profile">My Profile</a></li>

                                <% if (session.access_level==="X" ) { %>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/users">Manage Users</a></li>
                                    <li><a class="dropdown-item" href="/donations">Manage Donations</a></li>
                                    <% } %>

                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>

                            </ul>
                        </div>

                        <% } %>

            </div>
        </div>
    </div>
</nav>