<div class="page-container">

    <h1 class="page-title">Add Milestone</h1>

    <form action="/milestones/new" method="POST" class="form">

        <label for="ParticipantID">Participant</label>
        <select id="ParticipantID" name="ParticipantID" required>
            <option value="">Select a participant…</option>
            <% participants.forEach(p=> { %>
                <option value="<%= p.ParticipantID %>">
                    <%= p.FirstName %>
                        <%= p.LastName %> (ID #<%= p.ParticipantID %>)
                </option>
                <% }) %>
        </select>

        <label for="MilestoneTitle">Milestone Title</label>
        <input id="MilestoneTitle" type="text" name="MilestoneTitle" required />

        <label for="MilestoneDate">Milestone Date</label>
        <input id="MilestoneDate" type="date" name="MilestoneDate" required />

        <button class="btn-submit">Create Milestone</button>
    </form>

</div>