/* TOKENS */
@import "./tokens/colors.css";
@import "./tokens/typography.css";
@import "./tokens/spacing.css";
@import "./tokens/effects.css";

/* BASE */
@import "./base/reset.css";
@import "./base/globals.css";
@import "./base/utilities.css";

/* LAYOUT */
@import "./layout/containers.css";
@import "./layout/forms.css";
@import "./layout/buttons.css";
@import "./layout/tables.css";

/* COMPONENTS */
@import "./components/navbar.css";

/* PAGE-SPECIFIC STYLES (create as needed) */
/* @import "./pages/dashboard.css"; */
/* @import "./pages/events.css"; */