/* Base */
@import url("./base/reset.css");
@import url("./base/variables.css");
@import url("./base/typography.css");
@import url("./base/utilities.css");

/* Layout */
@import url("./layout/layout.css");
@import url("./layout/header.css");
@import url("./layout/footer.css");

/* Components */
@import url("./components/buttons.css");
@import url("./components/forms.css");
@import url("./components/tables.css");
@import url("./components/cards.css");

/* Pages */
@import url("./pages/home.css");
@import url("./pages/dashboard.css");
@import url("./pages/donations.css");