/* -----------------------------------------------------
    MASTER STYLESHEET IMPORTER
    Load everything through this one file.
----------------------------------------------------- */

/* Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");

/* Global Variables */
@import url("./variables.css");

/* Page Layout, Typography, Defaults */
@import url("./pages.css");

/* Component Styles */
@import url("./components/navbar.css");
@import url("./components/forms.css");
@import url("./components/tables.css");
@import url("./components/details.css");
@import url("./components/buttons.css");