.er-search {
    display: inline-flex !important;
    flex-direction: row !important;
    align-items: center !important;
    gap: 0.75rem;

    white-space: nowrap !important;
    flex-shrink: 0 !important;
}

.er-search-input {
    height: 48px;
    padding: 0 1.25rem;
    border-radius: 24px;
    border: 1px solid #c9d3df;
    background: white;

    font-size: 1rem;
    line-height: 48px !important;
    color: var(--charcoal);

    width: 320px;
    flex-shrink: 0;
}

.er-search-btn {
    height: 48px;
    padding: 0 1.5rem;

    border-radius: 24px;
    border: none;
    background: var(--charcoal);
    color: white;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    flex-shrink: 0 !important;

    font-size: 1rem;
    font-weight: 600;
}

.er-search-btn:hover {
    background: var(--rose);
}