<h1>Schedule New Event Occurrence</h1>

<form action="/eventOccurrences/new" method="POST" class="form">

    <label>Event Name</label>
    <input type="text" name="event_name" required>

    <label>Start</label>
    <input type="datetime-local" name="start" required>

    <label>End</label>
    <input type="datetime-local" name="end" required>

    <label>Location</label>
    <input type="text" name="location" required>

    <label>Capacity</label>
    <input type="number" name="capacity" required>

    <label>Registration Deadline</label>
    <input type="date" name="registration_deadline" required>

    <button class="btn btn-primary btn-submit mt-3">Create Event Occurrence</button>
</form>
